/* NUEVO FORM */
.formulario {
  padding-top: 80px;
  padding-bottom: 40px;
}

.formulario label {
  font-size: 14px;
  font-weight: 500;
}

.formulario h2 {
  font-size: 26px;
  font-weight: 600;
  color: #333333;
}

.formulario h3 {
  font-size: 22px;
  font-weight: 600;
  color: #37bbed;
  margin-bottom: 30px;
}

.formulario h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #333333;
}

.formulario h5 {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 30px;
}

.formulario p {
  font-size: 14px;
  font-weight: 300;
}

.formulario hr:not([size]) {
  height: 2px;
}

.formulario hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.formulario .separador {
  background-image: linear-gradient(
    to right,
    rgba(84, 84, 84, 0.509) 40%,
    rgba(255, 255, 255, 0) 20%
  );
  background-size: 22px 1px;
  background-repeat: repeat-x;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
}

.formulario .separador-margin {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 4px;
}

.formulario .form-control,
.form-select {
  margin-bottom: 16px;
}

.formulario .form-check .form-check-input {
  margin-bottom: 20px;
}

/* Responsive */

@media (min-width: 768px) {
  .formulario h2 {
    font-size: 32px;
  }

  .formulario h3 {
    font-size: 28px;
  }

  .formulario h4 {
    font-size: 18px;
  }

  .formulario h5 {
    font-size: 22px;
  }
}
