.card-ministerio {
  border-radius: 8px 8px 8px 8px;
}

.card-ministerio .headerCard,
.footerCard {
  text-align: center;
  background-color: #37bbed;
  color: #FFFF;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}

.card-ministerio .headerCard {
  border-radius: 8px 8px 0px 0px;
}

.card-ministerio .footerCard {
  border-radius: 0px 0px 8px 8px;
}

.card-ministerio .headerCard p {
  margin: 0px;
  padding: 0px;
}

.card-ministerio .footerCard p {
  margin: 0px;
  padding: 0px;
}

.card-ministerio .bodyCard {
  margin: 0px;
  padding: 30px 16px;
}

.card-ministerio .bodyCard h3 {
  font-size: 20px;
  font-weight: 700;
}

.card-ministerio .bodyCard h4 {
  font-size: 18px;
  font-weight: 600;
  color: #676767;
}

.card-ministerio .bodyCard p {
  font-size: 16px;
  font-weight: 400;
}

/*  CARDS CON ESTADOS Y FECHAS  */
.card-ministerio .headerCardEstado {
  background-color: #37bbed;
  border-radius: 8px 8px 0px 0px;
}

.card-ministerio .headerCardEstado .fechaSolicitud {
  color: #ffff;
  font-weight: 600;
  border-radius: 6px 6px 0px 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  font-size: 18px;
  margin: 0px;
}

.card-ministerio .headerCardEstado .estadoSolicitud {
  color: #ffff;
  border-radius: 0px 6px 0px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  padding-top: 10px;
  width: 100px;
}

.card-ministerio .headerCardEstado .verificada {
  background-color: #3ecf74 !important;
}

.card-ministerio .headerCardEstado .borrador {
  background-color: #707070 !important;
}

.card-ministerio .headerCardEstado .presentada {
  background-color: #ff8800 !important;
}

.card-ministerio .headerCardEstado .rechazada {
  background-color: #ef5350 !important;
}
