header img,
footer img {
  max-height: 48px;
}

/* HEADER */
#header-ministerioDesarrollo {
  height: 64px;
  background: #37bbed;
  box-shadow: 0px 1px 5px 2px #6c6c6c46 !important;
  z-index: 999;
}

#headerColUno,
#headerColDos {
  height: 64px;
}

/* USER MENU */
#header-ministerioDesarrollo .userMenu .dropdown i {
  font-size: 18px;
  color: #1072bb;
  padding: 4px 8px 5px 8px;
  border-radius: 50%;
  background-color: #ffffff;
}

#header-ministerioDesarrollo .dropdown-menu {
  background-color: #1072bb;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #ffff;
  text-decoration: none;
  border-radius: 10px;
}

#header-ministerioDesarrollo .dropdown-menu i {
  font-size: 16px;
}

#header-ministerioDesarrollo #datosUsuarioMenu {
  background-color: #115f98;
  padding: 6px 14px;
  border-radius: 10px 10px 0px 0px;
}

#header-ministerioDesarrollo .dropdown-menu hr {
  color: #ffff;
  margin: 0px;
}

#header-ministerioDesarrollo .dropdown-menu li {
  text-decoration: none;
  color: #ffff;
  padding: 10px 20px;
}

#header-ministerioDesarrollo .dropdown-menu li a {
  color: #ffff;
  text-decoration: none;
  font-weight: 600;
}

#header-ministerioDesarrollo .dropdown-menu li a:hover {
  color: #dddddd;
}

/* FOOTER */
#footer-ministerioDesarrollo {
  height: 100px;
  background: #37bbed;
  z-index: 999;
}

#footerColUno,
#footerColDos {
  height: 100px;
}

#footerColDos {
  display: flex;
  align-items: center;
  justify-content: end;
}

#footerColDos .infoFooter a {
  display: block;
  font-size: 12px;
  color: #ffff;
  line-height: 1.8;
  font-weight: 300;
}

@media (min-width: 768px) {
  #header-ministerioDesarrollo .userMenu .dropdown i:hover {
    color: #115f98;
    transition: 0.3s;
  }
}
