@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, 
CODE, DEL, DFN, EM, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR, B, U, I, CENTER, DL, DT, DD, OL, UL, LI, 
FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD, ARTICLE, ASIDE, CANVAS, DETAILS, EMBED, FIGURE, 
FIGCAPTION, FOOTER, HEADER, HGROUP, MENU, NAV, OUTPUT, RUBY, SECTION, SUMMARY, TIME, MARK, AUDIO, VIDEO, MAIN, BUTTON {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
HTML {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
HTML, BODY { height: 100%;}
INPUT, SELECT, TEXTAREA, BUTTON { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
INPUT, SELECT, BUTTON { vertical-align: middle}
INPUT[type="radio"], INPUT[type="checkbox"] {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
INPUT[type="submit"], INPUT[type="reset"], INPUT[type="button"], BUTTON {cursor: pointer; -webkit-appearance:none;}
TEXTAREA {overflow:auto; -webkit-appearance:none; resize: none}
INPUT::-moz-focus-inner, BUTTON::-moz-focus-inner {border: 0; padding: 0;}
::-webkit-input-placeholder {color: rgba(67,67,67,.45);}
:-moz-placeholder {color: rgba(67,67,67,.45); opacity: 1}
::-moz-placeholder {color: rgba(67,67,67,.45); opacity: 1}
:-ms-input-placeholder { color: rgba(67,67,67,.45);}
UL, OL, LI {list-style: none;}
IMG { vertical-align: top; max-width: 100%; height: auto}
A {text-decoration: none; cursor:pointer; background: transparent;}
A:active, A:hover { outline: 0}
STRONG { font-weight: 700}
EM { font-style: italic}
.Clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  color: #333333;
}

main {
  min-height: -webkit-calc(100vh - 164px);
  min-height: -moz-calc(100vh - 164px);
  min-height: calc(100vh - 164px);
}

.text-ministerio {
  color: #37bbed !important;
}

.text-azul {
  color: #0072bb !important;
}

.text-gris {
  color: #f7f7f7 !important;
}

.text-verde {
  color: #2e7d33 !important;
}

.text-rojo {
  color: #ef5350 !important;
}

.text-negro {
  color: #333333 !important;
}

.bg-ministerio {
  background-color: #37bbed !important;
}

.bg-azul {
  background-color: #0072bb !important;
}

.bg-verde {
  background-color: #2e7d33 !important;
}

.bg-rojo {
  background-color: #c62828 !important;
}

.bg-gris {
  background-color: #f7f7f7 !important;
}

.bg-gris-mid {
  background-color: #d0d0d0 !important;
}

.bg-filtro {
  background-color: #545454 !important;
}

/* NAV Y TIPOGRAFIA */
.nav {
  font-size: 14px;
}
.fw-extrabold {
  font-weight: 700 !important;
}
.fw-bold {
  font-weight: 600 !important;
}
.fw-semibold {
  font-weight: 500 !important;
}
.fw-medium {
  font-weight: 400 !important;
}
.fw-regular {
  font-weight: 300 !important;
}
.fw-light {
  font-weight: 200 !important;
}

h1{
  font-size: 44px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 18px;
}

/* SHADOW MEDIUM */
.shadow-md {
  box-shadow: 0 0.15rem 0.4rem rgba(0, 0, 0, 0.15) !important;
}

/* INPUTS Y FORMULARIOS */
.form-label {
  font-weight: 500 !important;
}

.form-control {
  background-size: 20px 18px !important;
  height: 48px !important;
  border-radius: 0.5rem !important;
  border: 1px solid #DDDDDD;
}

.form-select {
  background-size: 20px 18px !important;
  height: 48px !important;
  border-radius: 0.5rem !important;
  border: 1px solid #DDDDDD;
}

.form-control-area {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #DDDDDD;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 0.5rem !important;
}

.form-check .form-check-input {
  width: 1.5em;
  height: 1.5em;
  margin-right: 10px;
}

.form-check-label {
  padding-top: 6px;
}

.form-check-input:checked {
  background-color: #0072bb !important;
  border-color: #0072bb !important;
}

.form-check-input:checked[type="radio"] {
  background-image: url(../img/checkministerio.svg) !important;
  background-color: #ffff !important;
  border-color: #2897d4 !important;
}

.form-control-file {
  border-radius: 0.5rem !important;
  border: 1px solid #DDDDDD !important;
  display: block;
  width: 100%;
  height: 48px;
  font-size: 14px;
  margin-bottom: 16px;
  cursor: pointer;
}

input[type="file"]::-ms-browse {
  padding: 0.2em 1.5em;
  background-color: #e6e6e6;
  transition: 0.5s;
  border: none;
  margin-right: 20px;
  height: 48px;
  font-size: 14px;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  padding: 0.2em 1.5em;
  background-color: #e6e6e6;
  transition: 0.5s;
  border: none;
  margin-right: 20px;
  height: 48px;
  font-size: 14px;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  padding: 0.2em 1.5em;
  background-color: #e6e6e6;
  transition: 0.5s;
  border: none;
  margin-right: 20px;
  height: 48px;
  font-size: 14px;
  cursor: pointer;
}

input[type="file"]::-ms-browse:hover {
  background-color: #d8d8d8;
  border: none;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #d8d8d8;
  border: none;
}

input[type="file"]::file-selector-button:hover {
  background-color: #d8d8d8;
  border: none;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #37bbed;
  outline: 0;
  box-shadow: 0px 0px 8px #37bbed;
}

.form-select:focus {
  color: #212529;
  border-color: #37bbed;
  outline: 0;
  box-shadow: 0px 0px 8px #37bbed;
}

.form-control-area:focus {
  color: #212529;
  background-color: #fff;
  border-color: #37bbed;
  outline: 0;
  box-shadow: 0px 0px 8px #37bbed;
}

.form-control-file:focus {
  color: #212529;
  background-color: #fff;
  border-color: #37bbed;
  outline: 0;
  box-shadow: 0px 0px 8px #37bbed;
}

.form-control .is-invalid {
  border-color: #dc3545 !important;
  box-shadow: 0px 0px 8px #dc3545 !important;
}

.form-select .is-invalid {
  border-color: #dc3545 !important;
  box-shadow: 0px 0px 8px #dc3545 !important;
}

.form-control-area .is-invalid {
  border-color: #dc3545 !important;
  box-shadow: 0px 0px 8px #dc3545 !important;
}

.form-control-file .is-invalid {
  border-color: #dc3545 !important;
  box-shadow: 0px 0px 8px #dc3545 !important;
}

.invalid-feedback {
  font-weight: 700;
}

/* TABLAS */
.limitar {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  max-width: 200px;
}

/* PAGINADOR */
.page-link {
  color: #0072bb;
  padding: 0.375rem 0.85rem;
  border: none;
}
.page-link:hover {
  color: #0072bb !important;
  background-color: #ececec !important;
}

/* MODAL CHECK */
.modal-content {
  border-radius: 10px;
}

.modal .fa-check-circle {
  color: #2e7d33;
  font-size: 24px;
}

.modal .fa-circle-exclamation {
  color: #f9a822;
  font-size: 24px;
}

.modal .bi-x-circle {
  cursor: pointer;
}

.modal .modal-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0px;
}

.modal .modal-header {
  padding: 40px 30px 20px 30px;
  border: none;
}

.modal .modal-body {
  padding: 0px 30px;
  border: none;
}

.modal .modal-footer {
  padding: 20px 30px 30px 30px;
  border: none;
}

/* BOTONES */
.btn {
  font-weight: 600;
  color: #030303;
  white-space: initial;
  word-break: initial;
  border: 0;
  letter-spacing: 0.6px;
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem #f9a822;
}

.btn-close:focus {
  box-shadow: none !important;
}

.btn-md {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.btn-lg {
  padding: 12px 50px;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.btn-xl {
  padding: 16px 50px;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.btn-success {
  background-color: #2e7d33 !important;
  color: #ffff !important;
}

.btn-success:hover {
  background-color: #245d27 !important;
  color: #ffff !important;
}

.btn-primary {
  background-color: #0072bb !important;
  color: #ffff !important;
}

.btn-primary:hover {
  background-color: #0b5d90 !important;
  color: #ffff !important;
}

.btn-secondary {
  background: #707070 !important;
  color: #ffff !important;
}

.btn-secondary:hover {
  background-color: #3d3d3d !important;
  color: #ffff !important;
}

.btn-info {
  background: #37bbed !important;
  color: #ffff !important;
}

.btn-info:hover {
  background-color: #319dc6 !important;
  color: #ffff !important;
}

.btn-danger {
  background: #c62828 !important;
  color: #ffff !important;
}

.btn-danger:hover {
  background-color: #ab0909 !important;
  color: #ffff !important;
}

.btn-warning {
  background-color: #f9a822 !important;
  color: #ffff !important;
}

.btn-warning:hover {
  background-color: #e89208 !important;
  color: #ffff !important;
}

.btn-back {
  background-color: #ffff;
  color: #707070;
  border: 2px solid #707070;
}

.btn-back:hover {
  background-color: #f7f7f7;
  color: #707070;
  border: 2px solid #707070;
}

.btn-delete {
  background-color: #ffff;
  color: #c62828;
  border: 2px solid #c62828;
}

.btn-delete:hover {
  background-color: #c62828;
  color: #ffff;
  border: 2px solid #c62828;
}

.btn-filter {
  background-color: #dddddd;
  color: #333333;
}

.btn-filter:hover {
  background-color: #c9c9c9;
  color: #333333;
}

.btn-search {
  background-color: #E6E6E6;
  border: 1px solid #DDDDDD;
  color: #707070;
  padding: 8px 14px;
}

.btn-search:hover {
  background-color: #dddddd;
}

.btn-search:focus {
  box-shadow: 0 0 0 0.10rem #f9a822;
}
/* BORDE CUADRADO PARA JUNTAR CON EL BTN-SEARCH */
.border-search{
  border-radius: 0.5rem 0rem 0rem 0.5rem !important;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}
